<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <welcome-file-list>
        <welcome-file>Form.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>Calculator22</servlet-name>
        <servlet-class>laba4.Calculator22</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Calculator22</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
</web-app>